{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="site-section" id="next-section">
        <div class="container">


            <div class="row justify-content-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <center><h1 class="lead">Aplicar al puesto {{q.title}} </h1></center>
                        <form action="" method="POST" class="" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <label><strong>Seleccione el Empleo</strong></label>                                            
                                <select type="text" class="form-control" placeholder="Empleos"{{form.job_Id}}</select>                  
                            </div>

             
                        <div class="form-group">
                            <label><strong>Nombre Completo</strong></label>                                            
                            <input type="text" class="form-control" placeholder="Jorge Calderón Rojas"  {{form.name}}                     
                        </div>
                        <div class="form-group">
                            <label><strong>Email</strong></label>
                            <input type="email" class="form-control" placeholder="example@example.com" {{form.email}}
                        </div>

                        <div class="form-group">
                            <label><strong>Archivo adjunto</strong></label>
                            <input type="file" class="form-control" placeholder="Curriculum" {{form.file}}
                        </div> 
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input style="background-color: #074d93;" type="submit" onclick="myFunction()" value="Aplicar"
                                       class="btn btn-primary btn-md text-white">
                            </div>
                        </div>


                    </form>
                    <script>
                        function myFunction() {
                            alert("Estas aplicando a esta oferta laboral");
                        }
                    </script>

                </div>


            </div>

        </div>
    </section>


{% endblock %}
