{% extends 'base.html' %}


{% load static %}

{% block content %}
<body style="background-color:#212d37;">
    <!-- HOME -->

    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('{% static 'images/hero_1.png' %}');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">{{ q.title }}</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <img src="{% static 'images/featured-listing-2.png' %}"
                                 alt="Free Website Template By Free-Template.co">
                        </div>
                        <div>
                            <h2 class="text-white font-weight-bold">{{ q.title }}</h2>
                            <div>
                                <span style=color:#e9790e>
                                    <span class="icon-briefcase mr-2">
                                    </span>{{ q.company_name }}</span>
                                <span style=color:#e9790e>
                                    <span class="icon-room mr-2">
                                    </span>{{ q.job_location }}</span>
                                <span style=color:#e9790e>
                                    <span class="icon-clock-o mr-2">
                                    </span><span style=color:#e9790e> {{ q.employment_status }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">

                        <div class="col-6">
                            <a style="background-color: #074d93;" href="{% url 'jobs:apply' %}" class="btn btn-dark badge-dark">Aplicar ya</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <figure class="mb-5">
                            <img class="img-fluid" src="{% static 'core/assets/images/DinoQR.jpg' %}" alt="Imagen Codigo"
                            class="img-fluid rounded"></figure>
                        <h3 style=color:#e9790e>
                            <span style=color:#e9790e class="icon-align-left mr-3"></span>
                            Descripcion de empleo</h3>
                        <p style=color:white>{{ q.description }}</p>
                    </div>
                    <div class="mb-5">
                        <h3 style=color:#e9790e><span
                                class="icon-rocket mr-3"></span>Responsabilidades</h3>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="d-flex align-items-start mb-2"><span
                                    class="icon-check_circle mr-2 text-muted"></span><span style=color:white>{{ q.responsibilities }}</span>
                            </li>

                        </ul>
                    </div>

                    <div class="mb-5">
                        <h3 style=color:#e9790e><span class="icon-book mr-3"></span>Experiencia
                        </h3>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="d-flex align-items-start mb-2"><span
                                class="icon-check_circle mr-2 text-muted"></span><span style=color:white>{{ q.experience }}</span>
                            </li>

                        </ul>
                    </div>


                </div>
                <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Resumen de Oferta </h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Publicado hace:</strong> {{ q.published_on|timesince }} ago
                            </li>
                            <li class="mb-2"><strong class="text-black">Vacantes:</strong> {{ q.vacancy }}</li>
                            <li class="mb-2"><strong class="text-black">Tipo de Contrato:</strong> {{ q.employment_status }}</li>
                            <li class="mb-2"><strong class="text-black">Experiencia:</strong> {{ q.experience }}</li>
                            <li class="mb-2"><strong class="text-black">Ubicacion:</strong> {{ q.job_location }}</li>
                            <li class="mb-2"><strong class="text-black">Salario aproximado:</strong> ₡ {{ q.Salary }}</li>
                            <li class="mb-2"><strong class="text-black">Genero:</strong> {{ q.gender }}</li>
                            <li class="mb-2"><strong class="text-black">Fecha de finalización:</strong> {{ q.application_deadline }}</li>
                        </ul>
                    </div>

                    <div class="bg-light p-3 border rounded">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Compartir Codigo QR</h3>
                        <div class="px-3">
                            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

{% endblock %}




