{% extends 'base.html' %}
{% load static %}


{% block content %}



<!-- Home -->
<section class="home py-5 d-flex align-items-center" id="header">
  <div class="container text-light py-5" data-aos="fade-right">
    <h1 class="headline" style="color:rgba(22, 68, 186, 0.9);">En <span class="home_text">Istmo Center</span><br>
      Tenemos trabajo para vos!</h1>
    <p class="para para-light py-3">Encuentre el trabajo de sus sueños en nuestro poderoso sitio web de ofertas
      laborales</p>
    <div class="d-flex align-items-center">
      <p class="p-2"><i class="fas fa-laptop-house fa-lg"></i></p>
      <p>Nos alegra conocer nuevas personas con un talento y pasión excepcionales para su trabajo.</br> Estaremos encantados de recibir su información, de acuerdo con el área de su interés.</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="p-2"><i class="fas fa-wifi fa-lg"></i></p>
      <p>Estaremos encantados de recibir su información, de acuerdo con el área de su interés.</p>
    </div>
    
    <form id="job-main-form" method="get" action="{% url 'jobs:search' %}" class="search-jobs-form">
      <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <input type="text" id="title" name="title" class="form-control form-control-lg"
            placeholder=" Software Engineer ... ">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <input type="text" id="job_location" name="job_location" class="form-control form-control-lg"
            placeholder="San José, Costa Rica ... ">
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <select  id="employment_status" name="employment_status" class="form-control" style="height:90%">
            <option>Medio Tiempo</option>
            <option>Tiempo Completo</option>
            <option>Servicios Profesionales</option>
          </select>
        </div>




        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
          <button type="submit" style="background-color:#074d93;"
            class="btn btn-primary btn-lg btn-block text-white btn-search"><span
              class="icon-search icon mr-2"></span>Buscar trabajo</button>
        </div>
      </div>
    </form>
  </div> <!-- end of container -->
</section> <!-- end of home -->


<!-- InformacionQR -->
<section class="about d-flex align-items-center text-light py-5" id="about">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-7" data-aos="fade-right">
        <h1 style="color:#e9790e;">Escanea el codigo QR<br>Y encontra tu trabajo ideal</h1>
        <p class="py-2 para-light">Ser los mejores en lo que hacemos es nuestro objetivo. Y somos excelentes en eso. Confíe en nosotros para resolver los diferentes retos que pueda presentar su negocio en temas de Desarrollo de Software, Logística de distribución y Centros de contacto.</p>
            <div class="my-3">
          <a style="background-color: #074d93;" class="btn" href=" {% url 'accounts:signup' %}">Resgistrate</a>
        </div>
      </div>
      <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
        <img class="img-fluid" src="{% static 'core/assets/images/DinoQR.jpg' %}" alt="about">
      </div>
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</section> <!-- end of about -->

<!-- Contadores -->
<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">Estadisticas de carrera</h2>
        <p class="lead text-white"></p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-6 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number=">{{ candidates }}">{{candidates}}</strong>
        </div>
        <span class="caption">Candidatos</span>
      </div>

      <div class="col-6 col-md-6 col-lg-6 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="{{ job_qs }}">{{job_qs}} </strong>
        </div>
        <span class="caption"> Ofertas laborales</span>
      </div>

    </div>
  </div>
</section>


  <section class="services d-flex align-items-center py-5" id="services" style="padding-top: 25%;">
    <div class="container text-light">
      <div class="text-center pb-4">
        <h2 style=color:white; class="py-2">Ofertas laborales destacadas</h2>
      </div>
      <div class="row gy-2 py-1" data-aos="zoom-in">
        {% for q in query%}
        <div class="col-lg-4 py-2">
          <div class="card bg-transparent">
            <i class="fas fa-home fa-2x"></i>
            <h2><a href="{% url 'jobs:job-single' q.id %}">{{ q.title }}</a> </h2>
            <span class="badge badge-primary px-2 py-1 mb-3">{{ q.employment_status }}</span>
            <p class="meta">Categoria:<strong>{{ q.category }}</strong></p>

            <div class="col-md-12 text-left">
              <p>Localización: <strong>{{ q.job_location }}</strong></p>
              <span class="meta"></span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div> <!-- end of row -->

     

      <div class="row pagination-wrap">
        <div class="col-md-6 text-center">
          <div class="custom-pagination ml-auto">
            {% if query.has_previous %}
            <a href="?page={{ query.previous_page_number }}" class="prev">Anterior</a>
            {% endif %}
            <div class="d-inline-block">
              Pagina <a href="#" class="active">{{ query.number }}</a> de {{ query.number }}
            </div>
            {% if query.has_next %}
            <a href="?page={{ query.next_page_number }}" class="next">Siguiente</a>
            {% endif %}
          </div>
        </div>
      </div>
    

    </div> <!-- end of container -->




</section> <!-- end of services -->




{% endblock %}