{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="about d-flex align-items-center text-light py-5" id="about">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <h1 style="color:#e9790e;">Te hemos enviado un correo con un enlace para restablecer tu contraseña</h1>
            </div>
            
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                <img class="img-fluid" src="{% static 'core/assets/images/about.jpg' %}" alt="about">
            </div>
        
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->


{% endblock %}